/* src/pages/HomePage.css */

.section {
    padding: 1.5rem;
    text-align: center;
  }
  
  .about-us,
  .background {
    background-color: #f4f4f4;
  }
  
  .how-it-works,
  .future-plans {
    background-color: #e9e9e9;
  }
  
  .contact-us {
    background-color: #dedede;
  }
  
  /* Additional styling for headings, paragraphs, etc. */
  
  .section h2 {
    margin-bottom: 1rem;
    margin-top: 0rem;
    font-size: 2.5rem;
  }
  
  /* You may also want to add some global styles for body, headers, etc. */
  .main-image {
    position: relative;
    width: 100vw; /* Make the image container full width */
    height: 100vh; /* Make the image container full height of the viewport */
    margin-bottom: 0rem; /* Add some space below the image */
    overflow: hidden; /* Hide the overflowed part of the image */
  }
  
  .main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the container while maintaining aspect ratio */
    object-position: center; /* Center the image within the container */
    opacity: 0.4; /* Set the opacity to 80% */
  }
  
  /* Adjust the .overlay-text class to ensure text is positioned correctly */
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: center; /* Center the text */
    z-index: 2; /* Ensure the text is above the image */
  }

  .overlay-title {
    font-size: 5rem;
    font-weight: bolder;
  }

  .overlay-subtitle {
    font-size: 3rem;
    font-weight: bold;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items in the center for a column flex container */
  }
  
  .about-image {
    max-width: 250px; /* Adjust the size as needed */
    border-radius: 40%; /* Make the image round */
    margin-bottom: 1rem; /* Space between image and name */
  }
  
  .about-name {
    font-size: 2rem; /* Adjust the size as needed */
    margin-bottom: 0.5rem; /* Space between name and bio */
  }
  
  .about-bio {
    max-width: 600px; /* Maximum width of the bio */
    text-align: center; /* Ensure the bio is centered */
    margin-bottom: 1rem; /* Space below the bio */
  }

  .contact-details {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  
  .contact-details a {
    margin-left: 0.5rem;
    text-decoration: none;
    color: #000; /* Adjust the color as needed */
  }
  
  .footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333; /* Adjust the background color as needed */
    color: #fff; /* Adjust the text color as needed */
    position: relative;
    bottom: 0;
    width: 100%;
  }
  