/* src/pages/HomePage.css */
html, body {
  overflow-x: hidden; /* This will prevent horizontal scrolling */
}


.section {
    padding: 1.5rem;
    text-align: center;
  }
  
  .background {
    background-color: #f4f4f4;
  }

  .about-us  {
    background-color: #f4f4f4;
  }

  .background p {
    text-align: center;
  }
  
  .how-it-works {
    background-color: #fefefe;
  }
  

  /* Process Steps Styling */
.process-steps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

.step {
  width: 25%;
  padding: 40px; /* Increased padding */
  background-color: #ffffff;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* More pronounced shadow */
  border-radius: 10px; /* Rounded corners */
  transition: transform 0.3s ease; /* Smooth transform on hover */
}

.step h3 {
  font-size: 48px; /* Much larger font size for the numbers */
  font-weight: 700; /* Bolder font weight */
  color: #333333;
  margin-bottom: 15px;
}

.step h4 {
  font-weight: 600; /* Bolder than normal text but not as bold as numbers */
  color: #000000;
  margin-bottom: 20px;
}

.step p {
  color: #666666;
  font-size: 16px;
  line-height: 1.8;
}

.steps {
  width: 25%;
  padding: 40px; /* Increased padding */
  background-color: #848383;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* More pronounced shadow */
  border-radius: 10px; /* Rounded corners */
  transition: transform 0.3s ease; /* Smooth transform on hover */
}

.steps h3 {
  font-size: 48px; /* Much larger font size for the numbers */
  font-weight: 700; /* Bolder font weight */
  color: #ffffff;
  margin-bottom: 15px;
}

.steps h4 {
  font-weight: 600; /* Bolder than normal text but not as bold as numbers */
  color: #ffffff;
  margin-bottom: 20px;
}

.steps p {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.8;
}

/* Hover Effect */
.step:hover {
  transform: translateY(-5px); /* Slight upward lift */
  box-shadow: 0 6px 12px rgba(0,0,0,0.15); /* Enhanced shadow on hover */
}

.steps:hover {
  transform: translateY(-5px); /* Slight upward lift */
  box-shadow: 0 6px 12px rgba(0,0,0,0.15); /* Enhanced shadow on hover */
}
/* Responsive Adjustments for medium screens */
@media (max-width: 992px) {
  .process-steps {
    flex-direction: column;
  }

  .step {
    width: 80%; /* Slightly reduced width for medium screens */
    margin: 20px auto; /* Increased side margins for more space */
    padding: 40px; /* Maintain padding or adjust as necessary */
  }
}

/* Responsive Adjustments for smaller screens */
@media (max-width: 768px) {
  .step {
    width: 100%; /* Adjusted to full width on smaller screens */
    padding: 40px 20px; /* Adjust padding to provide space on the sides */
    box-sizing: border-box; /* Ensure padding doesn't add to the width */
  }
}

@media (max-width: 992px) {
  .process-steps {
    flex-direction: column;
  }

  .steps {
    width: 80%; /* Slightly reduced width for medium screens */
    margin: 20px auto; /* Increased side margins for more space */
    padding: 30px;
    padding-top: 10px; /* Maintain padding or adjust as necessary */
  }
}

/* Responsive Adjustments for smaller screens */
@media (max-width: 768px) {
  .steps {
    width: 100%; /* Adjusted to full width on smaller screens */
    padding: 20px 20px; /* Adjust padding to provide space on the sides */
    box-sizing: border-box; /* Ensure padding doesn't add to the width */
  }
}

.step a {
  color: #1a0dab; /* Standard link color */
  text-decoration: none; /* Remove underlines from links */
  transition: color 0.3s ease; /* Smooth color transition for hover */
}

.step a:hover {
  color: #0a58ca; /* Darker shade on hover for better visibility */
}

.step ul {
  list-style: none; /* Removes default list styling */
  padding: 0;
  margin: 0;
}

.step ul li {
  margin-bottom: 10px; /* Adds space between list items */
  font-size: 16px; /* Adjust as needed */
}

.step ul li a {
  color: #1a0dab; /* Standard link color */
  text-decoration: none; /* Removes the underline */
}

.step ul li a:hover {
  text-decoration: underline; /* Adds underline on hover for better visibility */
}

.steps a {
  color: #1a0dab; /* Standard link color */
  text-decoration: none; /* Remove underlines from links */
  transition: color 0.3s ease; /* Smooth color transition for hover */
}

.steps a:hover {
  color: #0a58ca; /* Darker shade on hover for better visibility */
}

.steps ul {
  list-style: none; /* Removes default list styling */
  padding: 0;
  margin: 0;
}

.steps ul li {
  margin-bottom: 10px; /* Adds space between list items */
  font-size: 16px; /* Adjust as needed */
}

.steps ul li a {
  color: #1a0dab; /* Standard link color */
  text-decoration: none; /* Removes the underline */
}

.steps ul li a:hover {
  text-decoration: underline; /* Adds underline on hover for better visibility */
}


  
  .contact-us {
    background-color: #dedede;
  }
  
  /* Additional styling for headings, paragraphs, etc. */
  
  .section h2 {
    margin-bottom: 1rem;
    margin-top: 0rem;
    font-size: 2.5rem;
  }
  
  /* You may also want to add some global styles for body, headers, etc. */
  .main-image {
    position: relative;
    width: 100vw; /* Make the image container full width */
    height: 100vh; /* Make the image container full height of the viewport */
    margin-bottom: 0rem; /* Add some space below the image */
    overflow: hidden; /* Hide the overflowed part of the image */
    background-color: #000;
  }
  
  .main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the container while maintaining aspect ratio */
    object-position: center; /* Center the image within the container */
    opacity: 0.3; /* Set the opacity to 80% */
    background-color: #000;
  }
  
  /* Adjust the .overlay-text class to ensure text is positioned correctly */
  .overlay-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: center; /* Center the text */
    z-index: 2; /* Ensure the text is above the image */

  }



  .overlay-title {
    font-size: 5rem;
    font-weight: bolder;
  }

  .overlay-subtitle {
    font-size: 3rem;
    font-weight: bold;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items in the center for a column flex container */
  }
  
  .about-image {
    max-width: 250px; /* Adjust the size as needed */
    border-radius: 40%; /* Make the image round */
    margin-bottom: 1rem; /* Space between image and name */
  }
  
  .about-name {
    font-size: 2rem; /* Adjust the size as needed */
    margin-bottom: 0.5rem; /* Space between name and bio */
  }
  
  .about-bio {
    max-width: 600px; /* Maximum width of the bio */
    text-align: center; /* Ensure the bio is centered */
    margin-bottom: 1rem; /* Space below the bio */
  }

  .about-offer {
    max-width: 600px; /* Maximum width of the bio */
    text-align: center; /* Ensure the bio is centered */
    margin-bottom: 0rem;
    margin-top: 0rem;
  }

  .contact-details {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  
  .contact-details a {
    margin-left: 0.5rem;
    text-decoration: none;
    color: #000; /* Adjust the color as needed */
  }
  
  .footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333; /* Adjust the background color as needed */
    color: #fff; /* Adjust the text color as needed */
    position: relative;
    bottom: 0;
    width: 100%;
  }
  