/* src/components/Header.css */

body {
  overflow-x: hidden;
}

.header {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0rem;
  }
  
  .header .brand-name {
    font-weight: bold;
    cursor: pointer;
    padding: 0rem 0rem 0rem 0rem;
  }

  .header .brand-name img{
    max-width: 40%;
  }

  .header .brand-name:hover {
    text-decoration: underline;
  }

  .header .nav-toggle {
    display: none; /* Hide toggle button on desktop */
  }

  .header .nav {
    display: flex; /* Flex container for nav on desktop */
  }
  
  .header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0rem 1rem;
  }
  
  .header li a {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1.2rem 0.5rem 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
  }
  
  .header li a:hover {
    color: #555;
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    .header .nav-toggle {
      display: block; /* Show toggle button on mobile */
      cursor: pointer;
    }
  
    .header .nav {
      display: none; /* Hide nav by default on mobile */
      flex-direction: column;
      width: 100%;
    }
  
    .header .nav.active {
      display: flex; /* Show nav when active */
    }
  
    .header ul {
      width: 100%; /* Full width for ul */
      flex-direction: column; /* Stack nav items vertically */
    }
  
    .header li {
      width: 100%; /* Full width for li */
    }
  
    .header li a {
      text-align: left; /* Align links to the left */
    }
  }

  .login-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust the width as a percentage of the screen size */
    max-width: 500px; /* Maximum width to ensure it doesn't get too large */
    height: 70%; /* Adjust the height as a percentage of the screen size */
    max-height: 350px; /* Maximum height */
    background-color: #fff;
    padding: 40px; /* Increased padding for a more spacious look */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 100; /* Above other content */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Allows scrolling if the content is too long */
  }
  
  .login-modal form {
    width: 100%; /* Ensure form takes full width of modal */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center form fields */
  }
  
  .login-modal input,
  .login-modal button {
    width: 90%; /* Make input fields and buttons take up most of the modal width */
    padding: 15px; /* Increase padding for a better user experience */
    margin-bottom: 20px; /* Increase space between form elements */
  }
  
  .login-modal input {
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-modal button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
  }
  
  /* Shake animation */
  @keyframes shake {
    0%, 100% { 
      transform: translate(-50%, -50%) translateX(0); 
    }
    25% { 
      transform: translate(-50%, -50%) translateX(-10px); 
    }
    75% { 
      transform: translate(-50%, -50%) translateX(10px); 
    }
  }
  
  .shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }
  
  /* Style the close button differently if needed */
  .login-modal button[type="button"] {
    background-color: #999;
  }

  .login-modal .login-error {
    color: red;
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
    text-align: center;
    font-weight: bold;
  }
  
  .login-modal.shake .login-error {
    opacity: 1; /* Make the error message visible when shaking */
  }

  .nav ul li.nav-item {
    display: none;
    cursor: pointer;

  }
  
  /* Always show the login link */
  .nav ul li.login-link {
    display: block;
    cursor: pointer;

  }
  
  /* Show all navigation items on desktop */
  @media (min-width: 992px) {
    .nav ul li.nav-item {
      display: block;
      cursor: pointer;

    }
  }
  
  /* Further styles to hide toggle and adjust logo on mobile */
  @media (max-width: 992px) {
    .nav-toggle {
      display: none; /* Hide the toggle button on mobile */
      cursor: pointer;

    }
  
    .brand-name img {
      max-width: 100px; /* Adjust the logo size on mobile if necessary */
      cursor: pointer;

    }
  }

  .nav-item button {
    background: none;
    color: #000000; /* This should be the color of your links */
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
  }
  
  .nav-item button:hover {
    text-decoration: underline;
  }
  
  html, body {
    overflow-x: hidden; /* This will prevent horizontal scrolling */
  }
  