/* src/components/Header.css */

.header {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
  }
  
  .header .brand-name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  .header li a {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1.2rem 0.5rem 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
  }
  
  .header li a:hover {
    color: #555;
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column; /* Stack the brand name and navigation */
      align-items: flex-start; /* Align items to the start of the header */
    }
  
    .header .brand-name {
      margin-bottom: 1rem; /* Add space between brand name and nav items */
    }
  
    .header ul {
      flex-direction: column; /* Stack the navigation items vertically */
      width: 100%; /* Full width */
      align-items: flex-start; /* Align items to the start */
    }
  
    .header li {
      width: 100%; /* Full width for each list item */
    }
  
    .header li a {
      display: block; /* Make anchor fill the list item */
      width: 100%; /* Full width */
      text-align: left; /* Align text to the left */
    }
  }